# LOGGING
# -------------------------------------
LOG_CHANNEL=Logger

LOG_CW_ENABLED=true
LOG_CW_KEY=
LOG_CW_SECRET=
LOG_CW_VERSION=latest
LOG_CW_REGION=eu-west-1
LOG_CW_GROUP_NAME=/Logger
LOG_CW_RETENTION_DAYS=14
LOG_CW_BATCH_SIZE=10000

LOG_FS_ENABLED=true
# include trailing slash
LOG_FS_DIR=~/Code/s2s/logger/
LOG_FS_FILE_NAME=system.log
