# Logging
LOG_CHANNEL=Share

# CloudWatch specific
# leave key blank to not use this
LOG_CW_KEY=
LOG_CW_SECRET=
LOG_CW_VERSION=latest
LOG_CW_REGION=eu-west-1
LOG_CW_GROUP_NAME=/Share
LOG_CW_RETENTION_DAYS=14
LOG_CW_BATCH_SIZE=10000

# File specific
# leave dir blank to not use this
# include trailing slash
LOG_FS_DIR=~/Code/s2s/Connector/
LOG_FS_FILE_NAME=system.log