<!--
The XML Configuration File
https://phpunit.de/manual/current/en/appendixes.configuration.html
-->
<phpunit colors="true" bootstrap="vendor/autoload.php">
    <testsuites>
        <testsuite name="All">
            <directory>./tests</directory>
        </testsuite>
    </testsuites>
</phpunit>
